{% extends 'admin/index.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-white">Edit Product</h1>
        <form
                action="{{ path('admin_products_update', {id:product.id}) }}"
                method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <h6>Image</h6>
                    <input type="file" name="image">
                    <hr>

                    <div class="d-flex justify-content-center">
                        {% if product.images %}
                            {% for image in product.images %}


                                <img src="{{ asset('build/images/phones/' ~ image) }}"
                                     alt="{{ image }}" width="100" height="100">
                            {% endfor %}
                        {% else %}
                            <img src="{{ asset('build/images/noimage.jpg') }}" alt="" width="100" height="100">
                        {% endif %}
                    </div>

                    <hr>

                    <select class="form-select" name="product_active" aria-label="Product activation">
                        <option {% if product.active == "active" %} selected {% endif %} value="active">active</option>
                        <option {% if product.active == "inactive" %} selected {% endif %} value="inactive">inactive
                        </option>
                    </select>

                    <label for="product_title" class="form-label">Title</label>
                    <input class="form-control" type="text" name="product_title" id="product_title"
                           value="{{ product.title }}">
                    <label for="product_price" class="form-label">Price</label>
                    <input class="form-control" type="text" name="product_price" id="product_price"
                           value="{{ product.price }}">
                    <label for="product_discount" class="form-label">Discount</label>
                    <input class="form-control" type="text" name="product_discount" id="product_discount"
                           value="{{ product.discount }}">
                    <label for="product_stock" class="form-label">In stock</label>
                    <input class="form-control" type="text" name="product_stock" id="product_stock"
                           value="{{ product.stock }}">
                    <label for="product_description" class="form-label">Description</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" name="product_description"
                                  id="floatingTextarea">{{ product.description }}</textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    <label for="product_category" class="form-label">Specialist</label>
                    <select name="product_category_id" id="product_category" class="form-select">
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == product.category.id %} selected {% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                {# <div class="col-md-6 mt-2"> #}
                {# {% include 'validations/validation.html.twig' %} #}
                {# </div> #}
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-outline-success me-2">Save</button>
                        <a class="btn btn-outline-secondary me-2" href="{{ path('admin_products') }}">Back</a>
                    </div>
                </div>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('') }}"/>
        </form>
    </div>

{% endblock %}