{% extends 'admin/index.html.twig' %}

{% block title %}Products list{% endblock %}

{% block body %}
    <div class="products">
        <h1>Products</h1>
        {% if errors is defined and errors|length > 0 %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if success is defined and success|length > 0 %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <div>
                    {% for s in success %}
                        {{ s }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <table class="table table-light table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">ID</th>
                <th scope="col">Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Active</th>
                <th scope="col">Category</th>
                <th scope="col">Stock status</th>
                <th scope="col">In Stock</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <form action="{{ path('admin_products_update', {id:product.id}) }}" method="POST">
                            <input type="hidden" class="form-control" name="product_title" value="{{ product.title }}">
                            <input type="hidden" class="form-control" name="product_description" value="{{ product.description }}">
                            <input type="hidden" class="form-control" name="product_category_id" value="{{ product.category.id }}">
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            <div class="d-flex justify-content-center">
                                {% if product.images %}
                                    <img src="{{ asset('build/images/phones/' ~ product.images|first) }}"
                                         alt="{{ product.images|first }}" width="100" height="100">
                                    {# <img src="{{ asset('build/images/noimage.jpg') }}" alt="" width="100" height="100"> #}
                                {% else %}
                                    <img src="{{ asset('build/images/noimage.jpg') }}" alt="" width="100" height="100">
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {{ product.title }}
                        </td>
                        <td>{{ product.id }}</td>
                        <td>
                            <input type="text" class="form-control" name="product_price" value="{{ product.price }}">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="product_discount"
                                   value="{{ product.discount }}">
                        </td>
                        <td>
                            <select class="form-select w-auto" name="product_active" aria-label="Product activation">
                                <option {% if product.active == "active" %} selected {% endif %} value="active">active</option>
                                <option {% if product.active == "inactive" %} selected {% endif %} value="inactive">inactive</option>
                            </select>
                        </td>

                        <td>{{ product.category.name }}</td>
                        {% if product.stock %}
                            <td style="color: green">In stock</td>
                        {% else %}
                            <td style="color: red">Out of stock</td>
                        {% endif %}
                        <td>
                            <input type="text" class="form-control" name="product_stock" value="{{ product.stock }}">
                        </td>
                        <td>
                            <div class="d-flex align-items-center m-1">
                                <button
                                        type="submit"
                                        class="btn btn-outline-success">Save
                                </button>
                                <a
                                        href="{{ path('admin_products_edit', {id:product.id}) }}"
                                        type="button"
                                        class="btn btn-outline-secondary m-1">Edit</a>
                                <!-- Button trigger modal -->
                                <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                   data-bs-target="{{ '#product' ~ product.id }}"
                                >
                                    Delete
                                </a>
                            </div>

                        </td>
                    </tr>
                </form>

                <!-- Modal -->
                <div class="modal fade" id="{{ 'product' ~ product.id }}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal">Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete {{ product.title }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <form action="{{ path('admin_product_delete', {id:product.id}) }}" method="POST">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>

        {% if products is empty %}
            <p class="empty">There are no products to show.</p>
        {% endif %}
    </div>

{% endblock %}