{% extends 'admin/index.html.twig' %}

{% block title %}Order edit{% endblock %}

{% block body %}
    <div class="w-100">
        <h2>Order info</h2>

        <div>
            {% include 'validations/validation.html.twig' %}
        </div>
        <form action="{{ path('admin_orders_update', {id:order.id}) }}" method="POST">
            <input type="hidden" name="order_name" value="{{ order.name }}">
            <table class="table table-light table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Products</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td><input type="text" name="order_name" value="{{ order.name }}"></td>
                    <td>{{ order.id }}</td>
                    <td>
                        <input class="form-control" type="date" name="order_date" id="order_date"
                               value="{{ order.date|date("Y-m-d") }}">
                    </td>
                    <td>
                        <select class="form-select w-auto" name="order_status" aria-label="Order status">
                            <option {% if order.status == "pending" %} selected {% endif %} value="pending">Pending
                                payment
                            </option>
                            <option {% if order.status == "processing" %} selected {% endif %} value="processing">
                                Processing
                            </option>
                            <option {% if order.status == "cancelled" %} selected {% endif %} value="cancelled">
                                Cancelled
                            </option>
                            <option {% if order.status == "completed" %} selected {% endif %} value="completed">
                                Completed
                            </option>
                            <option {% if order.status == "refunded" %} selected {% endif %} value="refunded">
                                Refunded
                            </option>
                        </select>
                    </td>
                    <td>
                        {{ order.products|length }}
                    </td>
                    <td>{{ order.total }}</td>

                    <td>
                        <div class="d-flex align-items-center m-1">
                            <button type="submit" class="btn btn-outline-success">Save</button>
                        </div>
                    </td>
                </tr>


                </tbody>
            </table>
        </form>

        <h3>Ordered products</h3>

        <form
                 action="{{ path('admin_order_products_add', {id:order.id}) }}"
                method="POST"
        >
            <div class="d-flex">
                <div class="m-1">
                    <label for="products_list" class="form-label">Products list</label>
                    <select name="product_id" id="products_list" class="form-select">
                        {% for product in products %}
                            <option value="{{ product.id }}">
                               {{ product.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="m-1">
                    <label for="product_amount" class="form-label">Amount</label>
                    <input class="form-control" type="text" name="product_amount" id="product_amount">
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-success me-2">Add product</button>
                </div>
            </div>
        </form>

        <table class="table table-light">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Product ID</th>
                <th scope="col">Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Amount</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for product in order.products %}
                <tr>
                    <th>{{ product.title }}</th>
                    <td>{{ product.id }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.discount }}</td>
                    <td>{{ product.amount }}</td>
                    <td>
                        <div class="d-flex align-items-center m-1">
                            <!-- Button trigger modal -->
                            <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                               data-bs-target="{{ '#product' ~ product.id }}"
                            >
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="{{ 'product' ~ product.id }}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal">Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete {{ product.title }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <form action="{{ path('admin_order_products_remove', {id:order.id}) }}" method="POST">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}